.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: rgb(203, 203, 203);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: overline;
  text-transform: uppercase;
  padding: 10px; /* Ajuste del relleno */
  margin-top: 5%;
  letter-spacing: 2px;
}

.obrasTerminadasContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px; /* Ajuste del espacio entre elementos */
  padding: 0 2%; /* Ajuste del relleno */
  margin: 0 auto;
}

.link {
  text-decoration: none;
}

.btnVolver {
  display: flex;
  align-items: center;
  margin-top: 10px; /* Ajuste del margen superior */
}

.polyfilmbtn {
  display: flex;
  align-items: center;
}

/* Estilos para dispositivos más pequeños */
@media only screen and (max-width: 768px) {
  .title {
    font-size: 24px; /* Ajuste del tamaño de la fuente */
  }

  .obrasTerminadasContainer {
    padding: 0 5%; /* Ajuste del relleno */
  }

  .btnVolver {
    margin-top: 5px; /* Ajuste del margen superior */
  }
}
