/* ObrasTerminadas.module.css */
.container {
    display: flex;
    justify-content: center;
}
.title{
  color: rgb(203, 203, 203);
  display: flex;
  justify-content: center;
  text-decoration: overline;
  text-transform: uppercase;
  padding: 20px;
  margin-top: 5%;
  letter-spacing: 2px;
}

.obrasTerminadasContainer {
    display: flex; /* O usa display: grid; según tus preferencias */
    flex-wrap: wrap; /* Permite que las tarjetas se envuelvan a la siguiente línea si no caben en el ancho del contenedor */
    gap: 20px; /* Espacio entre tarjetas */
    margin: 0 5%;
    padding: 20px;
  }
  .link{
    text-decoration: none;
  }
  .btnVolver{
    display: flex;
    align-items: center;
    margin-top: 0 auto;
  }
  /* Otros estilos según sea necesario */
  .link{
    text-decoration: none;
  }
.polyfilmbtn{
    display: flex;
    align-items: center;
}