/* ObrasTerminadas.module.css */

.container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.title {
  color: rgb(203, 203, 203);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: overline;
  text-transform: uppercase;
  padding: 20px;
  margin-top: 5%;
  letter-spacing: 2px;
}

.obrasTerminadasContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 0 8%;
  margin: 0 auto;
}

.link {
  text-decoration: none;
}

.btnVolver {
  display: flex;
  align-items: center;
  margin-top: 20px; /* Add space between Ver todas las obras button and Volver button */
}

.polyfilmbtn {
  display: flex;
  align-items: center;
}
