/* ObraCard.module.css */

.obraCard {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s;
  max-width: 30%;
  width: 100%;
}

.obraCard:hover {
  transform: scale(1.05);
}

.link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px 8px 0 0; /* Esquinas redondeadas solo en la parte superior */
  opacity: 1; /* Opacidad inicial */
  transition: opacity 0.7s ease; /* Transición para la opacidad */

}
.image:hover{
  opacity: 0.2;
}

.centeredText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 10px;
}

.centeredText p {
  margin: 0;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 0.9; /* Aumenté la opacidad del texto */
  font-weight: bold; /* Hice el texto en negrita para que destaque más */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Agregué un sombreado para mayor visibilidad */
}

  .link{
    text-decoration: none;
  }
  button { 
    margin: 10px auto;/* Mueve el botón hacia la parte inferior del contenedor */
    padding: 10px 20px;
    font-size: 1rem; /* Ajusta según tus necesidades */
    background-color: #3f3f3f; /* Color de fondo */
    color: white; /* Color del texto */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #272727; /* Cambia el color de fondo al pasar el ratón sobre el botón */
  }