/* Header.module.css */
.header {
    background-color: transparent;
    margin: 20px;
    width: 95vw;
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: bold;
  }
  .logo img{
    width: 20%;
    height: auto;
  }
  
  .navLinks {
    display: flex;
  }
  
  .navLinks a {
    text-decoration: none;
    padding-right: 10px;
    color: rgb(254, 254, 254);
    border-right: 1px solid rgb(255, 255, 255);
    margin: 20px;/* Reducir el margen entre las opciones de navegación */
    transition: all 0.3s ease;
    text-transform: uppercase;
  }
  
  .navLinks a:hover {
    color: #675302;
    transform: scale(1.1);
  }
  