/* Header.module.css */

.header {
  background-color: black;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;

}


.menuIcon {
  display: none;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.nav {
  display: flex;
  align-items: center;
}

.navLinks {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navLinks a {
  text-decoration: none;
  color: white;
  margin: 0 15px;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  position: relative;
  text-transform: uppercase;
  font-size: small;

}

.navLinks a:hover {

  color: #fff;
  box-shadow: 0 2px 0 0 #fff; /* Efecto de subrayado al pasar el ratón */
}

.navLinks .pointerDivider::before {
  content: "|";
  color: white;
  margin: 0 15px;
  display: inline-block; /* Asegura que el divider sea visible */
}


@media (max-width: 768px) {
  .header {
    width: 92vw;
    height: 2vh;
  }
  .nav {
    position: relative; /* Cambia la posición de nuevo para dispositivos móviles */
  }

  .navLinks {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 9vh; /* Ajusta la posición del menú desplegado */
    height: 100%;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1001;
  }

  .navLinks a {
    margin-bottom: 10px;
  }

  .nav.openMenu .navLinks {
    display: flex;
  }

  .menuIcon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: fixed; /* Hacer el ícono fijo solo para dispositivos móviles */
    top: 1%;
    right: 1%;
    transform: translate(-50%);
    z-index: 1002; /* Asegura que el ícono de menú esté sobre cualquier otro contenido */
  }

  .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
  }
}
