/* Header.module.css */

/* Estilos base */
.header {
  background-color: transparent;
  margin: 20px;
  width: 95vw;
  height: 9vh;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed; /* Agregado para hacer la barra fija */
  top: 0; /* Ajusta la barra en la parte superior de la pantalla */
  left: 0;
  right: 0;
  background-color: black; /* Puedes cambiarlo si deseas otro color de fondo */
  z-index: 1000; /* Asegura que esté sobre cualquier otro contenido */
  width: 95%;
  padding: 10px;
  margin: 0 auto;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: bold;
}

.logo img {
  width: 20%;
  height: auto;
}

.navLinks {
  display: flex;
}

.navLinks a {
  text-decoration: none;
  padding-right: 10px;
  color: rgb(254, 254, 254);
  border-right: 1px solid rgb(255, 255, 255);
  margin: 20px; /* Reducir el margen entre las opciones de navegación */
  transition: all 0.3s ease;
  text-transform: uppercase;
}

.navLinks a:hover {
  color: #675302;
  transform: scale(1.1);
}

/* Estilos para pantallas menores o iguales a 768px */

@media (max-width: 768px) {
  .header {
    width: 92vw;
    height: 2vh;
  }
  .nav {
    position: relative; /* Cambia la posición de nuevo para dispositivos móviles */
  }

  .navLinks {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 9vh; /* Ajusta la posición del menú desplegado */
    height: 100%;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1001;
  }

  .navLinks a {
    margin-bottom: 10px;
  }

  .nav.openMenu .navLinks {
    display: flex;
  }

  .menuIcon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: fixed; /* Hacer el ícono fijo solo para dispositivos móviles */
    top: 1%;
    right: 1%;
    transform: translate(-50%);
    z-index: 1002; /* Asegura que el ícono de menú esté sobre cualquier otro contenido */
  }

  .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
  }
}