.carruselContainer {
  max-width: 73%; /* Ajusta el ancho según tus preferencias */
  overflow: hidden;
  margin: 0 auto;
  background-color: white;
  margin: 20px;
}
.carruselContainer h1 {
  color: black;
  text-align: center;
  font-size: 24px;
  margin-bottom: -40px;
  text-transform: uppercase;
  padding-top: 2%;
  letter-spacing: 2px;
  font-weight: bold;
  position: relative;
}

.carruselContainer h1::after {
  content: '';
  display: block;
  width: 30%;
  height: 2px;
  background-color: black;
  margin: 10px auto; /* Ajusta la distancia entre la palabra y el subrayado */
}
.logoImageContainer {
  display: flex;
  animation: scroll 15s linear infinite;
  white-space: nowrap;
  width: 200%;

}

.logoImage {
  width: auto;
  height: 100%;
}
.logoImageDuplicate {
  margin-right: 10px; /* Ajusta la distancia entre las imágenes duplicadas */
}

/* Agrega estas clases para las animaciones */
.animated {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
    /* Agrega un tiempo de espera al final para una transición más suave */
    100.1% {
      transform: translateX(-100%);
    }
}
