/* ObrasEnConstruccion.module.css */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Adjust the height as needed for full vertical centering */
}

.title {
    color: rgb(203, 203, 203);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: overline;
    text-transform: uppercase;
    padding: 20px;
    margin-top: 5%;
    letter-spacing: 2px;
}

.obrasEnConstruccionContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 0 5%;
    padding: 20px;
    
}

.link {
    text-decoration: none;
}

.btnVolver {
    display: flex;
    align-items: center;
    margin-top: 20px; /* Add space between Ver todas las obras button and Volver button */
}

.polyfilmbtn {
    display: flex;
    align-items: center;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Alinea el contenido en la parte inferior */
    height: 30vh; /* Ocupa el 100% de la altura del viewport */
    margin-top: auto; /* Empuja el contenido hacia abajo */
  }
  @media only screen and (max-width: 768px) {
    .title {
        font-size: 24px; /* Ajuste del tamaño de la fuente */
    }

    .obrasEnConstruccionContainer {
        margin: 0 5%; /* Ajuste del margen */
    }

    .btnVolver {
        margin-top: 5px; /* Ajuste del margen superior */
    }  
  }